# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Local directories - ignore contents but keep directories with .gitkeep
downloads/*
!downloads/.gitkeep
merged_properties/*
!merged_properties/.gitkeep
tmp/*
!tmp/.gitkeep

# Logs
*.log