# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Ignore contents of these directories but not the directories themselves
downloads/*
!downloads/.gitkeep
merged_properties/*
!merged_properties/.gitkeep
tmp/*
!tmp/.gitkeep

# Logs
*.log